TMDB_READ_ACCESS_TOKEN = 'paste_your_token_here_between_quotes' # Token to have read-access to TMDB
TMDB_API_KEY = 'paste_your_api_key_here_between_quotes' # API key to call the TMDB API
GEMINI_API_KEY = 'paste_your_api_key_here_between_quotes' # API key to call the GEMINI API
GEMINI_MODEL = 'gemini-2.5-flash' # changes the model used with the summarize function on GEMINI API



